<div class="footer-main-con w-100 float-left padding-bottom padding-top position-relative">
    <div class="container">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-3 pl-0 pr-0 col-md-3">
             <div class="footer-details"  >
                <figure>
                   <img src="assets/image/footer-img.png" alt="footer-img">
                </figure>
                <p>Duis aute irure dolor in reprehenderit <br> in voluptate velit esse cillum dolore <br> eu fugiat nulla pariatur.</p>
             </div>
          </div>
          <div class="col-lg-2 col-md-3">
             <div class="footer-links" >
                <h4>Useful Links</h4>
                <ul class="list-unstyled">
                   <li class="position-relative"><a class="d-inline-block" href="about-us.html">About us</a></li>
                   <li class="position-relative"><a class="d-inline-block" href="services.html">Services</a></li>
                   <li class="position-relative"><a class="d-inline-block" href="our-team.html">Team</a></li>
                   <li class="position-relative"><a class="d-inline-block" href="six-colum-full-wide.html">News</a></li>
                   <li class="position-relative"><a class="d-inline-block" href="contact-us.html">Contact us</a></li>
                </ul>
             </div>
          </div>
          <div class="col-lg-3 col-md-3">
             <div class="contact-info">
                <h4>Contact Info</h4>
                <ul class="list-unstyled">
                   <li class="position-relative"><i class="fas fa-phone-alt"></i><a class="d-inline-block" href="#">+61 3 8376 6284</a></li>
                   <li class="position-relative"><i class="fas fa-envelope"></i><a class="d-inline-block" href="#">Info@finanzocom</a></li>
                   <li class="position-relative"><i class="fas fa-map-marker-alt"></i><span>21 King Street Melbourne, <br> 3000, Australia</span></li>
                </ul>
             </div>
          </div>
          <div class="col-lg-2 pl-lg-0 col-md-3">
             <div class="footer-social-icons">
                <h4>Social Networks</h4>
                <ul class="d-inline-block mb-0 list-unstyled">
                   <li class="d-inline-block"><a href="#"><i class="fab fa-facebook-f d-flex align-items-center justify-content-center"></i></a></li>
                   <li class="d-inline-block"><a href="#"><i class="fab fa-twitter d-flex align-items-center justify-content-center ml-0 mr-0 "></i></a></li>
                   <li class="d-inline-block"><a href="#"><i class="fab fa-linkedin-in d-flex align-items-center justify-content-center mb-0"></i></a></li>
                </ul>
             </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
    </div>
</div>
<div class="footer-text w-100 float-left text-center">
 <span class="d-inline-block">Copyright 2023, Esprit finance, All Rights Reserved.</span>
</div>
<!--footer-sec-->
