<app-header-component></app-header-component>
<body>
      <!--navbar-sec-->
     
   <!--navbar-sec-->
   <!--banner-->
   <section class="sub-banner w-100 float-left shape-left shape-right d-table">
     <div class="d-table-cell align-middle">
        <div class="container">
           <div class="four-column-banner banner-sec position-relative text-center">
              <h1 class="d-inline-block position-relative">Six Column</h1>
              <p>Ruis aute irure dolor in reprehenderit in voluptate velit cillum <br> nulla pariatur nostrud exercitation.</p>
              <div class="banner-button d-inline-block">
                 <a class="d-inline-block" href="index.html">Home</a>
                 <span>-</span>
                 <a class="d-inline-block" href="six-colum-full-wide.html">Blog</a>
              </div>
           </div>
        </div>
     </div>
     <div class="top-button position-relative">
        <a id="button" href="#" class="show"></a>
     </div>
  </section>
  <!--banner-->
      <section class="blog-posts w-100 float-left padding-top padding-bottom six-colum-blog">
         <div id="blog" class="col-xl-12">
            <div class="row">
               <div class="col-xl-2 col-lg-6 col-md-6">
                  <div class="float-left w-100 post-item border mb-4">
                     <div class="post-item-wrap position-relative">
                        <div class="post-image">
                           <a href="single-post.html">
                           <img alt="" src="assets/image/standard_post_img01.jpg">
                           </a>
                           <span class="post-meta-category">
                           <a href="#">Lifestyle</a>
                           </span>
                           <!--post-image-->
                        </div>
                        <div class="post-item-description">
                           <span class="post-meta-date">
                           <i class="fas fa-calendar-alt"></i>Jan 21, 2022</span>
                           <span class="post-meta-comments">
                           <a href="#"><span class="fa fa-comments-o"></span>33 Comments</a>
                           </span>
                           <h2>
                              <a href="single-post.html">Standard post with a single image </a>
                           </h2>
                           <p>Curabitur pulvinar euismod anteac sagittisante posuere sdfrsac.</p>
                           <a href="single-post.html" class="item-link">Read More <span class="fa fa-arrow-right"></span></a>
                           <!--post-item-description-->
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
               <div class="col-xl-2 col-lg-6 col-md-6">
                  <div class="float-left w-100 post-item border mb-4">
                     <div class="post-item-wrap position-relative">
                        <div id="blogslider" class="carousel slide" data-ride="carousel">
                           <div class="carousel-inner">
                              <div class="carousel-item active">
                                 <img src="assets/image/standard_post_img02.jpg" alt="">
                                 <!--carousel-item-->
                              </div>
                              <div class="carousel-item">
                                 <img src="assets/image/standard_post_img03.jpg" alt="">
                                 <!--carousel-item-->
                              </div>
                              <div class="carousel-item">
                                 <img src="assets/image/standard_post_img04.jpg" alt="">
                                 <!--carousel-item-->
                              </div>
                              <!--carousel-inner-->
                           </div>
                           <!-- Left and right controls -->
                           <a class="carousel-control-prev" href="#blogslider" data-slide="prev">
                           <span class="carousel-control-prev-icon"></span>
                           </a>
                           <a class="carousel-control-next" href="#blogslider" data-slide="next">
                           <span class="carousel-control-next-icon"></span>
                           </a>
                           <!--blogslider-->
                        </div>
                        <span class="post-meta-category"><a href="#">Technology</a></span>
                        <div class="post-item-description">
                           <span class="post-meta-date"><i class="fas fa-calendar-alt"></i>Jan 21, 2022</span>
                           <span class="post-meta-comments"><a href="#"><span class="fa fa-comments-o"></span>33 Comments</a></span>
                           <h2><a href="single-post.html">Simplicity, a post with slider gallery</a></h2>
                           <p>Curabitur pulvinar euismod anteac sagittisante posuere sdfrsac.</p>
                           <a href="single-post.html" class="item-link">Read More <span class="fa fa-arrow-right"></span></a>
                           <!--post-item-description-->
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
               <div class="col-xl-2 col-lg-6 col-md-6">
                  <div class="float-left w-100 post-item border mb-4">
                     <div class="post-item-wrap position-relative">
                        <div class="post-image">
                           <a href="single-post.html">
                           <img alt="" src="assets/image/standard_post_img05.jpg"> </a> <span class="post-meta-category">
                           <a href="#">Science</a>
                           </span>
                           <!--post-image-->
                        </div>
                        <div class="post-item-description">
                           <span class="post-meta-date">
                           <i class="fas fa-calendar-alt"></i>Jan 21, 2022</span>
                           <span class="post-meta-comments">
                           <a href="#"><span class="fa fa-comments-o"></span>33 Comments</a>
                           </span>
                           <h2><a href="single-post.html">Standard post with a single image </a></h2>
                           <p>Curabitur pulvinar euismod anteac sagittisante posuere sdfrsac.</p>
                           <a href="single-post.html" class="item-link">Read More <span class="fa fa-arrow-right"></span></a>
                           <!--post-item-description-->
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
               <div class="col-xl-2 col-lg-6 col-md-6">
                  <div class="float-left w-100 post-item border mb-4">
                     <div class="post-item-wrap position-relative">
                        <div class="post-audio position-relative">
                           <a href="single-post.html">
                           <img alt="" src="assets/image/standard_post_img06.jpg"> </a>
                           <span class="post-meta-category">
                           <a href="#">Hosted</a>
                           </span>
                           <!--post-audio-->
                        </div>
                        <div class="post-item-description">
                           <span class="post-meta-date"><i class="fas fa-calendar-alt"></i>Jan 21, 2022</span>
                           <span class="post-meta-comments">
                           <a href="#"><span class="fa fa-comments-o"></span>33 Comments</a>
                           </span>
                           <h2>
                              <a href="single-post.html">Self Hosted HTML5 Audio(MP3)</a>
                           </h2>
                           <p>Curabitur pulvinar euismod anteac sagittisante posuere sdfrsac.</p>
                           <a href="single-post.html" class="item-link">Read More <span class="fa fa-arrow-right"></span></a>
                           <!--post-item-description-->
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
               <div class="col-xl-2 col-lg-6 col-md-6">
                  <div class="float-left w-100 post-item border mb-4">
                     <div class="post-item-wrap position-relative">
                        <div class="post-image">
                           <a href="single-post.html">
                           <img alt="" src="assets/image/standard_post_img01.jpg">
                           </a>
                           <span class="post-meta-category">
                           <a href="#">Lifestyle</a>
                           </span>
                           <!--post-image-->
                        </div>
                        <div class="post-item-description">
                           <span class="post-meta-date">
                           <i class="fas fa-calendar-alt"></i>Jan 21, 2022</span>
                           <span class="post-meta-comments">
                           <a href="#"><span class="fa fa-comments-o"></span>33 Comments</a>
                           </span>
                           <h2>
                              <a href="single-post.html">Standard post with a single image </a>
                           </h2>
                           <p>Curabitur pulvinar euismod anteac sagittisante posuere sdfrsac.</p>
                           <a href="single-post.html" class="item-link">Read More <span class="fa fa-arrow-right"></span></a>
                           <!--post-item-description-->
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
               <div class="col-xl-2 col-lg-6 col-md-6">
                  <div class="float-left w-100 post-item border mb-4">
                     <div class="post-item-wrap position-relative">
                        <div class="post-video">
                           <div class="fluid-width-video-wrapper">
                              <iframe width="560" height="376" src="https://www.youtube.com/embed/dA8Smj5tZOQ"></iframe>
                              <!--fluid-width-video-wrapper-->
                           </div>
                           <span class="post-meta-category"><a href="#">Video</a></span>
                           <!--post-video-->
                        </div>
                        <div class="float-left w-100 post-item-description">
                           <span class="post-meta-date"><i class="fas fa-calendar-alt"></i>Jan 21, 2022</span> <span class="post-meta-comments"><a href="#"><span class="fa fa-comments-o"></span>33 Comments</a></span>
                           <h2><a href="single-post.html">This is a example post with YouTube</a></h2>
                           <p>Curabitur pulvinar euismod anteac sagittisante posuere sdfrsac.</p>
                           <a href="single-post.html" class="item-link">Read More <span class="fa fa-arrow-right"></span></a>
                           <!--post-item-description-->
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
               <div class="col-xl-2 col-lg-6 col-md-6">
                  <div class="float-left w-100 post-item border mb-lg-0 mb-4">
                     <div class="post-item-wrap position-relative">
                        <div class="post-audio position-relative">
                           <a href="single-post.html">
                           <img alt="" src="assets/image/standard_post_img03.jpg"> </a>
                           <span class="post-meta-category">
                           <a href="#">Hosted</a>
                           </span>
                           <!--post-audio-->
                        </div>
                        <div class="post-item-description">
                           <span class="post-meta-date"><i class="fas fa-calendar-alt"></i>Jan 21, 2022</span>
                           <span class="post-meta-comments">
                           <a href="#"><span class="fa fa-comments-o"></span>33 Comments</a>
                           </span>
                           <h2>
                              <a href="single-post.html">Self Hosted HTML5 Audio(MP3)</a>
                           </h2>
                           <p>Curabitur pulvinar euismod anteac sagittisante posuere sdfrsac.</p>
                           <a href="single-post.html" class="item-link">Read More <span class="fa fa-arrow-right"></span></a>
                           <!--post-item-description-->
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
               <div class="col-xl-2 col-lg-6 col-md-6">
                  <div class="float-left w-100 post-item border mb-4">
                     <div class="post-item-wrap position-relative">
                        <div class="post-image">
                           <a href="single-post.html">
                           <img alt="" src="assets/image/standard_post_img01.jpg">
                           </a>
                           <span class="post-meta-category">
                           <a href="#">Lifestyle</a>
                           </span>
                           <!--post-image-->
                        </div>
                        <div class="post-item-description">
                           <span class="post-meta-date">
                           <i class="fas fa-calendar-alt"></i>Jan 21, 2022</span>
                           <span class="post-meta-comments">
                           <a href="#"><span class="fa fa-comments-o"></span>33 Comments</a>
                           </span>
                           <h2>
                              <a href="single-post.html">Standard post with a single image </a>
                           </h2>
                           <p>Curabitur pulvinar euismod anteac sagittisante posuere sdfrsac.</p>
                           <a href="single-post.html" class="item-link">Read More <span class="fa fa-arrow-right"></span></a>
                           <!--post-item-description-->
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
               <div class="col-xl-2 col-lg-6 col-md-6">
                  <div class="float-left w-100 post-item border mb-lg-0 mb-4">
                     <div class="post-item-wrap position-relative">
                        <div class="post-video">
                           <div class="fluid-width-video-wrapper">
                              <iframe width="560" height="376" src="https://www.youtube.com/embed/dA8Smj5tZOQ"></iframe>
                              <!--fluid-width-video-wrapper-->
                           </div>
                           <span class="post-meta-category"><a href="#">Video</a></span>
                           <!--post-video-->
                        </div>
                        <div class="float-left w-100 post-item-description">
                           <span class="post-meta-date"><i class="fas fa-calendar-alt"></i>Jan 21, 2022</span> <span class="post-meta-comments"><a href="#"><span class="fa fa-comments-o"></span>33 Comments</a></span>
                           <h2><a href="single-post.html">This is a example post with YouTube</a></h2>
                           <p>Curabitur pulvinar euismod anteac sagittisante posuere sdfrsac.</p>
                           <a href="single-post.html" class="item-link">Read More <span class="fa fa-arrow-right"></span></a>
                           <!--post-item-description-->
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
               <div class="col-xl-2 col-lg-6 col-md-6">
                  <div class="float-left w-100 post-item border mb-lg-0 mb-4">
                     <div class="post-item-wrap position-relative">
                        <div class="post-image">
                           <a href="single-post.html">
                           <img alt="" src="assets/image/standard_post_img04.jpg">
                           </a>
                           <span class="post-meta-category">
                           <a href="#">Lifestyle</a>
                           </span>
                           <!--post-image-->
                        </div>
                        <div class="post-item-description">
                           <span class="post-meta-date">
                           <i class="fas fa-calendar-alt"></i>Jan 21, 2022</span>
                           <span class="post-meta-comments">
                           <a href="#"><span class="fa fa-comments-o"></span>33 Comments</a>
                           </span>
                           <h2>
                              <a href="single-post.html">Standard post with a single image </a>
                           </h2>
                           <p>Curabitur pulvinar euismod anteac sagittisante posuere sdfrsac.</p>
                           <a href="single-post.html" class="item-link">Read More <span class="fa fa-arrow-right"></span></a>
                           <!--post-item-description-->
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
               <div class="col-xl-2 col-lg-6 col-md-6">
                  <div class="float-left w-100 post-item border mb-lg-0 mb-4">
                     <div class="post-item-wrap position-relative">
                        <div class="post-image">
                           <a href="single-post.html">
                           <img alt="" src="assets/image/standard_post_img02.jpg"> </a>
                           <span class="post-meta-category">
                           <a href="#">Science</a>
                           </span>
                           <!--post-image-->
                        </div>
                        <div class="post-item-description">
                           <span class="post-meta-date">
                           <i class="fas fa-calendar-alt"></i>Jan 21, 2022</span>
                           <span class="post-meta-comments">
                           <a href="#"><span class="fa fa-comments-o"></span>33 Comments</a>
                           </span>
                           <h2><a href="single-post.html">Standard post with a single image </a></h2>
                           <p>Curabitur pulvinar euismod anteac sagittisante posuere sdfrsac.</p>
                           <a href="single-post.html" class="item-link">Read More <span class="fa fa-arrow-right"></span></a>
                           <!--post-item-description-->
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
               <div class="col-xl-2 col-lg-6 col-md-6">
                  <div class="float-left w-100 post-item border mb-lg-0 mb-4">
                     <div class="post-item-wrap position-relative">
                        <div class="post-image">
                           <a href="single-post.html">
                           <img alt="" src="assets/image/standard_post_img06.jpg"> </a> <span class="post-meta-category">
                           <a href="#">Science</a>
                           </span>
                           <!--post-image-->
                        </div>
                        <div class="post-item-description">
                           <span class="post-meta-date">
                           <i class="fas fa-calendar-alt"></i>Jan 21, 2022</span>
                           <span class="post-meta-comments">
                           <a href="#"><span class="fa fa-comments-o"></span>33 Comments</a>
                           </span>
                           <h2><a href="single-post.html">Standard post with a single image </a></h2>
                           <p>Curabitur pulvinar euismod anteac sagittisante posuere sdfrsac.</p>
                           <a href="single-post.html" class="item-link">Read More <span class="fa fa-arrow-right"></span></a>
                           <!--post-item-description-->
                        </div>
                        <!--post-item-wrap-->
                     </div>
                     <!--post-item-->
                  </div>
                  <!--col-->
               </div>
            </div>
            <!--blog-->
         </div>
      </section>
      <!--footer-sec-->

<!--footer-sec-->
     
   </body>
<app-footer-component></app-footer-component>
<!-- Mirrored from html.designingmedia.com/finanzo/six-colum-full-wide.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 12 Nov 2023 17:21:54 GMT -->