

        <div class="container" >
            <div class="col" classname="justify-content-center">
                    
                    <form >
                                
                        <div class="form-group">
                            <label for="text">Please Follow your mail to get your confirmation Token </label>
                            <input type="text" class="form-control"  [(ngModel)]="code" name="code" 
                          >
                         
                          </div>
                      <button type="button" class="btn btn-primary" (click)="Verify()" >Submit</button>
            
            
           
            
            
            
                    </form>
                    <style>
                        .enlarge-title {
                        font-size: 20px; /* Adjust the font size to your preference */
                      }
                      
                      .title_color {
                        color: #ff0000; /* Replace with your desired color */
                      }
                      .titre_color {
                        color: #454141; /* Replace with your desired color */
                      }
                      .text-center {
                        text-align: center;
                      }
                      
                      .justify-content-center {
                        justify-content: center;
                      }
                      
                      .align-items-center {
                        align-items: center;
                      }
                      </style>  





                </div>
                <div  class="login-wrapper p-5 rounded shadow" class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                    <img src="assets/images/deshes1.png" alt="" class="img-fluid">
                </div>
            </div>
          









